img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline;
}

.heading {
    color: red;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    background-color: rgb(42, 224, 73);
}
.heading.two {
    color: blue;
    font-size: 35px;
}

.description {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    background-color: yellow;
}

.ingredients {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.steps {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}